.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
  text-decoration: none;
  color: #2196f3;
}
.section1 {
  background: #2f303a;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1, 35;
  text-align: center;
  color: #ffffff;
}

.button-index {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  display: flex;
  text-align: center;
  border: none;
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
}

.button-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  text-align: center;
  background-color: #f5f4fa;
  border: none;
  color: #212121;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  text-decoration: none;
  color: #212121;
}

.social-links .link:hover,
.social-links .link:focus {
  color: #2196f3;
}
.graytxt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 14;
  text-decoration: none;
  color: #757575;
}

.social-links2 .graytxt:hover,
.social-links2 .graytxt:focus h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: #2196f3;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  color: #212121;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;

  color: #757575;
}

.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  color: #757575;
}

.stuff {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 875;
  color: #757575;
}

footer {
  background-color: #2f303a;
}

.ftaddress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: #ffffff;
}
